<template name="postsList">
    <div class="ss posts">
      <div class="container-fluid">
        <div class="col-lg-9 col-sm-12 col-md-9 col-xs-12">
          {{#each posts}}
          {{> postItem}}
          {{/each}}
        </div>
        <div class="col-lg-3 col-sm-12 col-md-3 col-xs-12">
          <nav id="myAffix">
            {{#if navdates}}
            {{#each navdates}}
            <ul class="nav">
              <li>
                <a href="#grid">{{this}}</a>
              </li>
            </ul>
            {{/each}}
            {{/if}}
          </nav>
          <script charset="utf-8">
            $('#myAffix').affix({
              offset: {
                top: 30,
                bottom: function () {
                  return (this.bottom = $('.footer').outerHeight(true))
                }
              }
            });
          </script>
        </div>

        <div class="js-loadMore well text-center col-lg-12 col-sm-12 col-md-12 col-xs-12">
          <button class="btn btn-primary">Завантажити ще новини</button>
        </div>
      </div>
      <div class="clearfix">
      </div>
  </div>
</template>
