<template name="postEven">
  <div class="[ col-lg-12 col-sm-12 col-md-12 col-xs-12 ] post post-even" data-sort="{{timestamp}}">
    <div class="[ panel panel-default ] panel-google-plus ">
      <div class="panel-google-plus-tags">
        <ul>
          <li><a href="/category/{{category}}">#{{category}}</a></li>
        </ul>
      </div>
      <div class="panel-heading">
        <img class="[ img-circle pull-left ]" src="/{{logo}}" style="width:46px;">
        <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
        <h5><strong><span>{{domain}}</span> - <span>{{hours_time}} {{week_day_date}}</span> </strong></h5>
      </div>
      <div class="panel-body">
        <p>{{{description}}}</p>
      </div>
    </div>
  </div>
</template>
