<template name="offcanvas">
  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <a class="navmenu-brand" href="/"><span style="color:red">Робо</span> <span style="color:black">Новини</span></a>
    <ul class="nav navmenu-nav">
      {{#each category}}
       {{> offcanvasCategories}}
      {{/each}}
    </ul>
  </nav>
  <script charset="utf-8">
    jQuery(document).ready(function(){
      jQuery('#myNavmenu').on('show.bs.offcanvas', function () {
        jQuery('button[data-target="' + jQuery(this).attr("id") + '"]').html('<i class="mdi-navigation-arrow-back"></i>')
      });
      jQuery('#myNavmenu').on('hide.bs.offcanvas', function () {
        jQuery('button[data-target="' + jQuery(this).attr("id") + '"]').html('<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>')
      });
    });
  </script>
</template>
