@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@font-face {
  font-family: 'Kobzar';
  src: url('KobzarKS.eot'); /* IE9 Compat Modes */
  src: url('KobzarKS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('KobzarKS.woff2') format('woff2'), /* Super Modern Browsers */
  url('KobzarKS.woff') format('woff'), /* Pretty Modern Browsers */
  url('KobzarKS.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('KobzarKS.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html {
  position: relative;
  min-height: 100%;
}
.search  i {
    width: 43px;
    margin-top: 20px;
}
.btn-success {
    color: #fff;
    background-color: #5FCF80;
    border-color: #fff;
    margin-top: 10px;
}
a.navbar-brand {
  font-family: 'Kobzar';
  line-height: 18px !important;
  font-size: 22px;
}
.logo h1 {
    text-align: center;
}
.logo{
  padding-bottom : 15px;
}

div.panel-google-plus > div.panel-body > p > img {
  float: left;
  margin: 0px 15px 5px 0px;
}
.agenda-date { width: 150px; }
.agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
#myNavmenu a.navmenu-brand{
  font-family: 'Kobzar';
  font-size: 1.8em;
}
.logo a {
    text-decoration: none;
    color: #000;
}
#main-date{
  text-align: center;
  display: block;
  width: 170px;
}
.col-center{
  margin:0 auto;
  float:none;
}
.day_news{
  padding-bottom: 15px;
}


.tags li {
    margin-left: 10px;
}

.date {
    text-align: center;
}
.post {
  /*min-height: 250px;*/
}
.clear {
    border-bottom: 1px solid #e2e2e2;
    height: 1px;
    margin-bottom: 7px;
    margin-top: 10px;
    clear: both;
    float: none;
}

.ss a:hover {
    text-decoration: none;
    color: #f45619;
}

.footer {
   position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #f5f5f5;

}

body {
    padding-top: 70px;
    margin-bottom: 60px;
}

.footer i {
    margin-right: 15px;
    margin-top: 30px;
    color: #5FCF80;
}

.text p{
margin-bottom: 0;
text-align: center;
 color: #5FCF80;
}
.text h4{
	margin-top: 0;
text-align: center;
}

.navbar-toggle{
	display: block;
}

.page ul{margin: 0 auto;
display: block;
height: 34px;
width: 238px;
margin-bottom: 15px;
margin-top: 15px;
}
.news_day{
	margin-bottom: 30px;
}
.context img {
	margin-bottom: 10px;
	margin-top: 15px;
float: left;
margin-right: 15px;
}

.news_all{
	margin-top: 15px;

}

.thumbnail{
	padding: 15px;
}
.label {
	text-align: right;
}
.list a{
text-decoration: none;
}
.panel-google-plus {
  position: relative;
  border-radius: 0px;
  border: 1px solid rgb(216, 216, 216);
  font-family: 'Roboto', sans-serif;
  /*min-height: 220px;*/
}
.panel-google-plus > .dropdown {
  position: absolute;
  top: 5px;
  right: 15px;
}
.panel-google-plus > .dropdown > span > span {
  font-size: 10px;
}
.panel-google-plus > .dropdown > .dropdown-menu {
  left: initial;
  right: 0px;
  border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
  position: absolute;
  top: 35px;
  right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
  display: block;
  right: 0px;
  width: 0px;
  padding: 5px 0px 5px 0px;
  background-color: rgb(245, 245, 245);
  font-size: 12px;
  overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
  content:"";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
  padding: 5px 15px 5px 10px;
  width: auto;
  cursor: pointer;
  margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
  background-color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
  background-color: rgb(66, 127, 237);
  color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
  background-color: rgb(255, 255, 255);
  border-width: 0px;
}
.panel-google-plus > .panel-heading {
  margin-top: 20px;
  padding-bottom: 5px;
}
.panel-google-plus > .panel-heading > img {
  margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  padding-right: 125px;
}
.panel-google-plus > .panel-heading > h5 {
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-weight: 400;
}
.panel-google-plus > .panel-body {
  padding-top: 5px;
  font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
  display: block;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
  max-width: 100%;
}

.panel-google-plus > .panel-footer {
  font-size: 14px;
  font-weight: 700;
  min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
  float: left;
  margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
  display: block;
  margin-left: 98px;
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-weight: 400;
  padding: 8px 6px 7px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
  display: none;
}
.panel-google-plus > .panel-google-plus-comment {
  display: none;
  padding: 10px 20px 15px;
  border-top: 1px solid rgb(229, 229, 229);
  background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
  display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
float: left;
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
  float: right;
  width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
  display: block;
  /*margin-left: 60px;
  width: calc(100% - 56px);*/
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
  resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
  margin-top: 10px;
  margin-right: 8px;
  width: 100%;
}
@media (min-width: 992px) {
  .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    width: auto;
  }
}


.panel-google-plus .btn {
  border-radius: 3px;
}
.panel-google-plus .btn-default {
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover,
.panel-google-plus .btn-default:focus,
.panel-google-plus .btn-default:active {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}
