<template name="footer">
<footer class="footer">
    <!-- <div class="container-fluid col-md-offset-10">
      <a href="#"><i class="fa fa-vk"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </div> -->
  </footer>
</template>
