<template name="topNavbar">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pull-left" href="/"><span style="color:red;">Робо</span> <span style="color:white;">Новини</span><div class="ripple-wrapper"></div></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        {{#if location}}
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)">{{location}}<div class="ripple-wrapper"></div></a></li>
        </ul>
        {{/if}}
      </div>
      <div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="clearfix" id="top"></div>
</template>
